.contact__container {
  row-gap: 3rem;
  padding-bottom: 5rem;
  text-align: center;
}

.contact_content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 1rem;
}

.contact__information {
  display: flex;
  margin-right: 0.5rem;
}

.contact__icon {
  font-size: 2.5rem;
  color: var(--first-color);
  margin-right: var(--mb-0-75);
}

.contact__title {
  font-size: var(--h3-font-size);
  font-weight: var(--font-medium);
}

.contact__subtitle {
  font-size: var(--small-font-size);
  color: var(--text-color-light);
}

.contact__content {
  background-color: var(--input-color);
  border-radius: 0.5rem;
  padding: 0.75rem 1rem 0.25rem;
}

.contact__label {
  font-size: var(--smaller-font-size);
  color: var(--title-color);
}

.contact__input {
  width: 100%;
  background-color: var(--input-color);
  color: var(--text-color);
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  border: none;
  outline: none;
  padding: 0.25rem 0.5rem 0.5rem 0;
}
