.custom-nav{
    background-color: #7c9962;
    font-size: 18px;
}
.item{
    color:white !important;
    text-decoration: none !important;
}
.item:hover{
    color:rgb(85, 83, 83) !important;
    transition: 0.2s;
}